Repository modyo/modyo-widgets-investments-accounts, pull requests merged in 2021-06, with the labels that each got.

#42 fix: Liquid parser
  src/liquid/liquidParser.js
Labels: fix

#44 refactor/control api
  package.json
  src/App.vue
  src/components/MovementsPanel.vue
  src/components/StatementsPanel.vue
  src/locales/en.json
  src/locales/es.json
  src/store/actions.js
  yarn.lock
Labels: chore, feat, fix, refactor, style

#45 refactor/add api control component
  package.json
  src/App.vue
  src/components/MovementsPanel.vue
  src/components/StatementsPanel.vue
  src/liquid/liquidParser.js
  src/locales/en.json
  src/locales/es.json
  src/store/actions.js
  yarn.lock
Labels: chore, feat, fix, refactor, style

#48 ci(deps): update modyo cli package
  package.json
  yarn.lock
Labels: ci

#49 ci: add disable liquid flag to push comand
  package.json
Labels: ci
